<div class="modal" id="modal">
        <div class="modal-container">
            <div class="modal-content">
                <form method="post" action="/post" enctype="multipart/form-data">
                    <select name="grade">
                        <% gradeList.each_with_index do |grade,index| %>
                            <option value="<%= index %>"><%= grade %></option>
                        <% end %>
                    </select>
                    <select name="course">
                        <% courseList.each_with_index do |course,index| %>
                            <option value="<%= index %>"><%= course %></option>
                        <% end %>
                    </select>
                    <select name="term">
                        <% termList.each_with_index do |term,index| %>
                            <option value="<%= index %>"><%= term %></option>
                        <% end %>
                    </select>
                    <input type="text" placeholder="科目名" class="subject-select" name="subject_name">
                    
                    <div class="file-select">
                        <div class="file-selector">
                            <label>ファイルを選択
                                <input type="file" name=uploaded_image_main accept=".jpg, .png, .pdf" required>
                            </label>
                        </div>

                        <p>解答</p>
                        <div class="file-selector">
                            <label>ファイルを選択
                                <input type="file" name=uploaded_image_answer accept=".jpg, .png, .pdf" >
                            </label>
                        </div>

                         <p>メモ</p>
                         <div><input type="text" name=memo class="memo"></div>
                    </div>
                    <div class="modal-buttons">
                        <button type="submit" class="button modal-button">投稿</button>
                        <button type="button"id="closeModal" class="button modal-button">閉じる</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
                
    <script>
        document.getElementById("upload_widget").addEventListener("click", function() {
            document.getElementById('modal').style.display = 'block';
        });
    
        document.getElementById('closeModal').addEventListener("click", function() {
            document.getElementById('modal').style.display = 'none';
        });
    </script>
</div>
            
<script>
    const modal = document.getElementById('modal');
    document.getElementById("upload_widget").addEventListener("click", function() {
        modal.style.display = 'block';
    });
    document.getElementById('closeModal').addEventListener("click", function() {
        modal.style.display = 'none';
    });
    modal.addEventListener('click', (event) => {
        if(event.target.closest('#modal-container') == null) {
            modal.style.display = 'none';
        }
    });
</script>
