<link rel="stylesheet" href="/styles/index.css" type="text/css">

<div class="body">
    <div class="filter-container">
        <form method="get" action="/">
            <div class="filter-spacer">
                <p class="filter-label">フィルター</p>
                <button type="submit" class="button filter-button">🔍 絞り込み</button>
            </div>

            <div class="filter">
                <p class="filter-name">学年</p>
                <% gradeList.each_with_index do |grade, index| %>
                    <label><input type="radio" name="grade" value="<%= index %>"
                    <% if @posts.any? && index == @posts[0].grade %>
                        checked
                    <% end %>><%= grade %></label>
                <% end %>
            </div>
            <div class="filter">
                <p class="filter-name">コース</p>
                <% courseList.each_with_index do |course, index| %>
                    <label><input type="checkbox" name="course[]" value="<%= index %>"
                    <% if @posts.any? && index == @posts[0].course %>
                        checked
                    <% end %>><%= course %></label>
                <% end %>
            </div>
            <div class="filter">
                <p class="filter-name">種別</p>
                <% termList.each_with_index do |term,index| %>
                    <label><input type="radio" name="term" value="<%= index %>"
                    <% if @posts.any? && index == @posts[0].term %>
                        checked
                    <% end %>><%= term %></label>
                <% end %>
            </div>
        </form>
    </div>
    <div class="posts-container">
    <% @posts.each do |post| %>
        <a href="/id/<%= post.id %>"><div class="posts"><%= gradeList[post.grade.to_i] %> <% if post.course.to_i != 0 %><%= courseList[post.course.to_i] %><% end %> <%= termList[post.term.to_i] %> <%= post.subject_name %></div></a>
    <% end %>
    </div>

    <div class="button-container">
        <button id="upload_widget" class="button upload-button">過去問を追加する</button>
    </div>
    
    <%= erb :"partials/_post_form" %>
